altgraph==0.10.2
argcomplete==1.9.4
backports.ssl-match-hostname==3.5.0.1
bdist-mpkg==0.5.0
certifi==2018.4.16
chardet==3.0.4
courseraoauth2client==0.0.1
docker-py==1.10.6
docker-pycreds==0.3.0
idna==2.6
ipaddress==1.0.22
macholib==1.5.1
modulegraph==0.10.4
numpy==1.16.4
py2app==0.7.3
pygame==1.9.6
pyobjc-core==5.2
pyobjc-framework-Cocoa==5.2
pyobjc-framework-CoreData==5.2
pyobjc-framework-Quartz==5.2
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7
requests==2.10.0
semver==2.8.0
six==1.4.1
tqdm==4.23.4
urllib3==1.22
virtualenv==15.1.0
websocket-client==0.48.0
